@model IEnumerable<StudRec.Models.Faculty>

@{ 
    ViewData["Title"] = "Faculty View";
}

<h2>Faculty View</h2>
<hr />


<div>
    <p></p><a asp-action="AddNewFaculty" class="btn btn-primary">Add New Faculty</a></p>
</div>

<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FacultyName)</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FacultyName)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FacultyID" class="btn btn-info mx-1 btn-xs">Edit</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
